/**/
.taskbox {
    padding: 0.5em 1em;
    margin: 10px 10px 0 10px;
    color: rgb(51, 113, 200);
    background: #ffffff;
    border-bottom: solid 6px #9bb2ca;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.taskbox p {
    margin: 0; 
    padding: 0;
}



.fab {
top: 400px; 
right: 10px;
left: 650px;
padding: 6px 40px;
}

ons-fab.fab {
    background-color:white;
}

ons-icon {
    color:blue;
}
